.card {
    border: 1px solid #5fa085;
}

.card-header {
    background-color: #5fa085;
}

#select-categorie, #select-statut {
    height: 40px;
    appearance: none;
    background-color: white;
    font-weight: 300;
    border-radius: 7px;
    padding: 3px;
    outline: none;
}

#select-categorie:hover, #select-statut:hover {
    appearance: textfield;
}

#input-titre, #input-date {
    height: 40px;
    border-radius: 7px;
    font-weight: 300;
    padding: 3px;
    outline: none;
    font-family: sans-serif;
}

#select-categorie:focus, #input-titre:focus {
    border: 1px solid #5fa085;
    outline: 1px solid #5fa085;
}



#text-area {
    border-radius: 7px;
    outline: none;
}

#text-area:focus {
    border: 2px solid #5fa085;
}

.mon-button {
    background-color: #5fa085;
    height: 40px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.mon-button:hover {
    background-color: white;
    border: 2px solid #5fa085;
    color: #5fa085;
}

.text-header{
    color: #5fa085;
}

.listTacheHeader {
    height: 50px;
}